
body{
	background-image: url("../image/carpool_NY.png");
	 background-size: cover;
	background-attachment: fixed;
	margin-right: 0px;
}
.jumbotron{
	
	margin-bottom: 0px;
	font-family: Georgia;
}
.margin{
	margin-top: 100px;
    margin-left: 210px;
}

.margin2{
	margin-top: 20px;
	margin-left: 94px;
}
.panel{
	border: 1px solid;
	margin-bottom: 100px;
}
.panel > .panel-heading {

	background: #494949;
	color: #fff;
}
.table-bordered{

	border: 1px solid;
}
.table thead th{
	background: #494949;
	color: white;
}

.text-brown{
	color: #e07b79;
}

.navbar-right{
margin-right: 200px;
}
#tablew{
	border: 1px solid grey;
}
.go-gray{
background-color: #494949;
color: white;
}
hr{
	color: #f00;
background-color: black;
height: 2px;
margin-top: 50px;
margin-bottom: 50px;
}